DebugWebHooks-NodeRED-Flow.json
[{"id":"27ee0db2.92a8f2","type":"tab","label":"Debug WebHooks","disabled":false,"info":""},{"id":"5bdd7aa0.82bb14","type":"http in","z":"27ee0db2.92a8f2","name":"preWebHookDebug","url":"/preWebHookDebug.json","method":"post","upload":false,"swaggerDoc":"","x":250,"y":200,"wires":[["f20d53f7.376a3","52449675.398e78"]]},{"id":"52449675.398e78","type":"http response","z":"27ee0db2.92a8f2","name":"preWebHookReturn","statusCode":"","headers":{},"x":740,"y":200,"wires":[],"info":"return msg;"},{"id":"f20d53f7.376a3","type":"debug","z":"27ee0db2.92a8f2","name":"preWebHookDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"a513d14d.8264a","type":"debug","z":"27ee0db2.92a8f2","name":"logWebHookDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":400,"wires":[]},{"id":"cbe5a8c9.37ae48","type":"http in","z":"27ee0db2.92a8f2","name":"logWebHookDebug","url":"/logWebHookDebug.json","method":"post","upload":false,"swaggerDoc":"","x":250,"y":500,"wires":[["a513d14d.8264a","da17bd69.e9cf8"]]},{"id":"da17bd69.e9cf8","type":"http response","z":"27ee0db2.92a8f2","name":"logWebHookReturn","statusCode":"","headers":{},"x":730,"y":500,"wires":[],"info":"return msg;"},{"id":"b5978b49.1594b8","type":"http in","z":"27ee0db2.92a8f2","name":"postWebHookDebug","url":"/postWebHookDebug.json","method":"post","upload":false,"swaggerDoc":"","x":260,"y":760,"wires":[["623dd94e.87eea8","715f263e.4cf0b8"]]},{"id":"715f263e.4cf0b8","type":"http response","z":"27ee0db2.92a8f2","name":"postWebHookReturn","statusCode":"","headers":{},"x":740,"y":760,"wires":[],"info":"return msg;"},{"id":"623dd94e.87eea8","type":"debug","z":"27ee0db2.92a8f2","name":"postWebHookDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":680,"wires":[]},{"id":"5ceef91b.025a18","type":"http in","z":"27ee0db2.92a8f2","name":"skillWebHookDebug","url":"/skillWebHookDebug.json","method":"post","upload":false,"swaggerDoc":"","x":250,"y":1060,"wires":[["49bc5c22.883224","5ba7ed6.294f814"]]},{"id":"5ba7ed6.294f814","type":"http response","z":"27ee0db2.92a8f2","name":"skillWebHookReturn","statusCode":"","headers":{},"x":740,"y":1060,"wires":[],"info":"return msg.payload.object;"},{"id":"49bc5c22.883224","type":"debug","z":"27ee0db2.92a8f2","name":"skillWebHookDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":980,"wires":[]},{"id":"5454b7a8.abed48","type":"comment","z":"27ee0db2.92a8f2","name":"This are the \"Assistant WEB-Hooks\", that can be defined in the \"Assistant\" Section","info":"","x":450,"y":40,"wires":[]},{"id":"aa70356c.f30678","type":"comment","z":"27ee0db2.92a8f2","name":"This is the \"Skill WEB-Hooks\", that can be defined in the \"Skill\" Section","info":"","x":410,"y":880,"wires":[]}]